body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  margin: 0px;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
  height: 100%;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.1em;
  }
}

