<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Yangi user</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Tel</td>
            <td>{{tel}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>{{subject}}</td>
        </tr>
    </table>
</body>
</html>