<!DOCTYPE html>
<html data-bs-theme="light" lang="uz">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Navoiy Davlat Universiteti Axborotnomasi Elektron Jurnali Maqola Talablari</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ABeeZee.css">
    <link rel="stylesheet" href="../static/css/Abyssinica%20SIL.css">
    <link rel="stylesheet" href="../static/css/Alegreya%20SC.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="../static/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="../static/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../static/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple-navbar---apple-1.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple-navbar---apple.css">
    <link rel="stylesheet" href="../static/css/Navbar---Apple.css">
    <link rel="stylesheet" href="../static/css/Navigation-Menu.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/tahririyat.css">
    <link rel="stylesheet" href="../static/css/talab.css">
</head>

<body>
    <header id="tepajonim" style="margin-top: 0px;padding-top: 8px;margin-left: -20px;">
        <div class="visible" id="top" style="margin-left: -11px;margin-top: 0px;" data-bs-target="#site-navigation" data-bs-smooth-scroll="true">
            <a href="/" style="padding-top: 0px;">
                <img src="../static/img/voiy%20pde.jpg" width="310" height="98" style="padding-top: 0px;margin-top: 1px;padding-left: 2px;margin-left: 224px;">
            </a>
        </div>
        <div class="menuback">
            <div class="menunofull">
                <nav id="site-navigation" class="primary-navigation" aria-label="Primary menu" style="padding-top: 10px;margin-left: 6px;">
                    <div class="primary-menu-container">
                        <ul id="primary-menu-list" class="menu-wrapper">
                            <li class="menu-item"><a href="/about" style="font-size: 16px;">BIZ HAQIMIZDA</a></li>
                            <li class="menu-item"><a href="/tahririyat" style="font-size: 16px;">TAHRIRIYAT JAMOASI</a></li>
                            <li class="menu-item"><a href="/talablar" style="font-size: 16px;text-decoration: underline;">NASHR QILISH SHARTLARI</a></li>
                            <li class="menu-item"><a href="/arxiv" style="font-size: 16px;">ARXIV</a></li>
                            <li class="menu-item"><a href="/muallif" style="font-size: 16px;">MUALLIF PROFILI</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="submenu">
            <div class="subnofull">
                <div class="issn"><span>Onlayn ISSN 2520-2480 | Chop etish ISSN 2520-6990</span></div>
            </div>
        </div>
    </header>

    <div id="okansila"></div>
    <h1>Navoiy Davlat Universiteti Axborotnomasi Elektron Jurnali Maqola Talablari</h1>
    <p>Navoiy davlat universitetining ilmiy axborotnomasi elektron jurnaliga taqdim etiladigan ilmiy maqolalarga qo‘yiladigan talablar xalqaro va milliy PhD tadqiqot standartlariga mos keladi. Jurnal mualliflarni xalqaro andozalarga moslashishida ko‘mak beradi.</p>

    <div class="contact-info">
        <p>Qo‘shimcha savollar, talab va takliflar bo‘yicha tahririyatning elektron manzili:</p>
        <p>Email: <a href="mailto:nspi_info@edu.uz">nspi_info@edu.uz</a></p>
        <p>Telefon: <a>+998 79 225-19-27, +998 79 225-19-23</a></p>
        <p>Veb-sayt: <a href="http://NavDUaxborotnoma.uz" target="_blank">http://NavDUaxborotnoma.uz</a></p>
        <p>Manzil: Ibn Sino ko’chasi 45 uy, 210100, Navoiy</p>
    </div>

    <h2>MAQOLANING NOMI</h2>
    <p>(14 O‘lchamda QALIN, KATTA HARFLI FORMATDA O‘RTADA JOYLASHISHI LOZIM)</p>
    <h3>Muallifning ismi, sharifi, familiyasi</h3>
    <h3>Ish joyi</h3>
    <h3>Elektron pochta manzili</h3>

    <h2>ANNOTATSIYA</h2>
    <p>Annotatsiya berilgan shakl va ko‘rinishda bo‘lishi lozim. 150-200 bosma belgi va 5-10 kalit so‘z. Annotatsiya (ABSTRACT) va kalit so‘zlar (keywords) ingliz tilida ham bo‘lishi zarur.</p>

    <h2>KIRISH</h2>
    <p>(KATTA HARFLARDA 14 o‘lchamda, Times New Roman)</p>

    <h2>ADABIYOTLAR TAHLILI VA METODOLOGIYA</h2>
    <p>(KATTA HARFLARDA 14 o‘lchamda, Times New Roman)</p>

    <h2>NATIJALAR</h2>
    <p>Jadvallar, grafiklar va diagrammalar alohida satrlarda keltiriladi.</p>

    <h2>MUHOKAMA</h2>
    <p>(KATTA HARFLARDA 14 o‘lchamda, Times New Roman)</p>

    <h2>XULOSA</h2>
    <p>(KATTA HARFLARDA 14 o‘lchamda, Times New Roman)</p>

    <h2>ADABIYOTLAR RO‘YXATI (REFERENCES)</h2>
    <p>(14 o‘lcham, Times New Roman, alifbo tartibida APA uslubi)</p>

    <div class="image-container">
        <img src="../static/img/photo_2024-07-18_19-26-16.jpg" alt="Sample Article Image">
    </div>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/Contact-Form-v2-Modal--Full-with-Google-Map-scripts.js"></script>
    <script src="../static/js/Navbar---Apple-navbar---apple.js"></script>
</body>

</html>
